
@{
    ViewBag.Title = "NotListesiPartial";
    ViewBag.Sayfa = "NotListesiPartial";
}

@using OgrenciBilgiSistemi.Db

@model List<OgrenciDers>

<div class="col-12">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@ViewBag.Title</h5>

            <!-- Table with stripped rows -->
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Ders Adı</th>
                        <th scope="col">Vize Notu</th>
                        <th scope="col">Final Notu</th>
                        <th scope="col">Büt Notu</th>
                        <th scope="col">Ortalama Notu</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (OgrenciDers item in Model)
                    {
                        <tr>
                            <th scope="row">@item.Id</th>
                            <td>@item.Ders.Adi</td>
                            <td>@item.VizeNotu</td>
                            <td>@item.FinalNotu</td>
                            <td>@item.ButNotu</td>
                            <td>@((item.VizeNotu * item.Ders.VizeOran + (item.ButNotu == null ? item.FinalNotu : item.ButNotu) * item.Ders.FinalOran ) / 100)</td>
                        </tr>
                    }

                </tbody>
            </table>
            <!-- End Table with stripped rows -->

        </div>
    </div>
</div>
